$icomoon-font-family: "workstaff" !default;
$icomoon-font-path: "./glyphs/fonts" !default;

$ws-download: "\e908";
$ws-map-pin: "\e909";
$ws-navigation: "\e90a";
$ws-map: "\e90b";
$ws-message-square: "\e90c";
$ws-send: "\e90d";
$ws-globe: "\e900";
$ws-logo-nolids: "\e901";
$ws-logo: "\e902";
$ws-facebook: "\e903";
$ws-instagram: "\e904";
$ws-twitch: "\e905";
$ws-linkedin: "\e906";
$ws-twitter: "\e907";

