.socialMediaComponent {
  color: var(--palette-cyan);
  text-align: center;
  font-size: 25px;
  padding-top: 35px;
}

.SocialMediaIcons{
  display: grid;
  padding-top: 25px;
  grid-auto-flow: column;
  width: 70%;
  margin: 0 auto;
  color: var(--palette-blue);
}

@media (min-width: 768px) {
  .SocialMediaIcons {
    width: 30%;
  }
}

i {
  font-size: 35px;
}